@import "../valo/valo";
@import "common";
@import "views/login";
@import "views/dashboardview";
@import "views/schedule";
@import "views/sales";
@import "views/transactions";
@import "views/reports";

// Optimize the CSS output
//$v-included-components: remove($v-included-components, accordion);
$v-included-components: remove($v-included-components, colorpicker);
$v-included-components: remove($v-included-components, grid);
$v-included-components: remove($v-included-components, popupview);
//$v-included-components: remove($v-included-components, progressbar); // precisei usar este, portanto comentei.
//$v-included-components: remove($v-included-components, slider);
//$v-included-components: remove($v-included-components, splitpanel);
//$v-included-components: remove($v-included-components, tree);
//$v-included-components: remove($v-included-components, treetable);
$v-included-components: remove($v-included-components, twincolselect);

// Main layout padding
$view-padding: round($v-unit-size / 1.5) !default;

// Slight adjustment to menu background-color
$valo-menu-background-color: #414B56;

@mixin simple {
  @include valo;
  @include simple-common;
  @include simple-login-view;
  @include simple-dashboard-view;
  @include simple-schedule-view;
  @include simple-sales-view;
  @include simple-transactions-view;
  @include simple-reports-view;
}